<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FOOD WE LIKEY</title>
</head>
<body>
    <h2>Food. . .  we. . . likey. . .</h2>
    <ol>
    <% Food.all.each do |x| %>
        <li><a href="/foods/<%=x.id%>" >   <%= x.name%>   </a></li>
        <ol>
        
        <% x.foodowner.each do |x| %>
            <li><%= x.snippet %></li>
        <% end%>
        </ol>
    <% end %>
</ol>

</body>
</html>